.DS_Store
logs/
resources/
deprecated/
ner/drug_ner_model/
ner/graph_ner/
ner/drug_ner_model2/
__pycache__/
db.sqlite3
*.pyc
psql_files/pg_upgrade_internal.log
psql_files/pg_upgrade_server.log
psql_files/pg_upgrade_utility.log
testing_*
training_*
txp_*
*.bin
*.hdf5
*.tsv
*.txt
*.bak
*.spacy
output/


