<head> 
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<h1> Concept override </h1>
<form action="{% url 'search:post_concept_override' %}" method="post"> 
{% csrf_token %}
	<h3> Conceptid: <input type="text" name="conceptid"> </h3> <br> 
	<h3> Descriptionid: <input type="text" name="description_id"> </h3> <br>
	<input type="radio" name="action_type" value="add_description"> add description <br>
	<input type="radio" name="action_type" value="activate_description_id"> activate description id <br>
	<input type="radio" name="action_type" value="deactivate_description_id"> deactivate description id </br>
	<input type="radio" name="action_type" value="add_concept"> add concept </br>
	<h3> Description text: <input type="text" name="description_text"> </h3>
	<input type="submit" value="submit">
</form>
