<head>
	<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js">  </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

{% load static %}
<script src="{% static "js/concept-override.js" %}"></script>

<div class="navbar-fixed">
	<ul id="dropdown1" class="dropdown-content">
		<li><a href="#concept_lookup">Concept lookup</a></li>
		<li><a href="#rel_lookup">Rel lookup</a></li>
		<li><a href="#new_concept">New concept</a></li>
		<li><a href="#remove_concept">Remove concept</a></li>
		<li><a href="#new_desc">New desc</a></li>
		<li><a href="#remove_desc">Remove desc</a></li>
		<li><a href="#change_rel">Change rel</a></li>
		<li><a href="#label_tx">Label tx</a></li>
		<li><a href="#change_type">Change type</a></li>
	</ul>
	<nav>
		<div class="nav-wrapper">
			<ul class="left hide-on-med-and-down">
				<li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Jump<i class="material-icons right">arrow_drop_down</i></a></li>
			</ul>
		</div>
	</nav>
</div>
<!-- {% include 'search/main_header.html' with css='css/search.css' %} -->


<div class="row center" id="concept_lookup">
	<br>
	<br>
	<h3 > Concept lookup </h3>
</div>

<div class="container">
	<form action="{% url 'search:post_concept_override' %}" method="post"> 
		{% csrf_token %}
		<div class="row form-row">
			<div class="input-field col s8">
				ACID: <input type="text" name="acid" value="{{acid}}"> <br> 
			</div>
			<div class="input-field col s2">
				<button type="submit" value="acid_submit" class="waves-effect waves-light btn search-btn">Search</button>
			</div>
		</div>
	</form>
</div>

<div class="container" id="acid_results">
	{% if payload.acid|length > 0 %}
		{% include 'search/concept_override_table_template.html' with payload_item=payload.acid %}
	{% endif %}
</div>
<br>
<br>
<div class="container">
	<form action="{% url 'search:post_concept_override' %}" method="post"> 
		{% csrf_token %}
		<div class="row form-row">
			<div class="input-field col s8">
				ADID: <input type="text" name="adid" value="{{adid}}"> <br> 
			</div>
			<div class="input-field col s2">
				<button type="submit" value="adid_submit" class="waves-effect waves-light btn search-btn">Search</button>
			</div>
		</div>
	</form>
</div>

<div class="container" id="adid_results">
	{% if payload.adid|length > 0 %}
		{% include 'search/concept_override_table_template.html' with payload_item=payload.adid %}
	{% endif %}
</div>
<br>
<br>
<br>

<div class="container">
	<form action="{% url 'search:post_concept_override' %}" method="post"> 
		{% csrf_token %}
		<div class="row form-row">
			<div class="input-field col s8">
				TERM: <input type="text" name="term" value="{{term}}"> <br> 
			</div>
			<div class="input-field col s2">
				<button type="submit" value="term_submit" class="waves-effect waves-light btn search-btn">Search</button>
			</div>
		</div>
	</form>
</div>
<div class="container" id="adid_results">
	{% if payload.term|length > 0 %}
		{% include 'search/concept_override_table_template.html' with payload_item=payload.term %}
	{% endif %}
</div>
<br>
<br>
<br>


<div class="row center" id="rel_lookup">
	<br>
	<br>
	<h3> Relationship lookup </h3>
</div>

<div class="container">
	<form action="{% url 'search:post_concept_override' %}" method="post"> 
		{% csrf_token %}
		<div class="row form-row">
			<div class="input-field col s8">
				ACID: <input type="text" name="acid_relationship" value="{{acid}}"> <br> 
			</div>
			<div class="input-field col s2">
				<button type="submit" value="acid_relationship_submit" class="waves-effect waves-light btn search-btn">Search</button>
			</div>
		</div>
	</form>
</div>

<div class="container" id="acid_relationship_results">
	{{payload.relationship_lookup_message}}
	{% if payload.acid_relationship_parent|length > 0 %}
		<h5> Parent </h5>
		{% include 'search/concept_override_table_template.html' with payload_item=payload.acid_relationship_parent %}
	{% endif %}

	{% if payload.acid_relationship_child|length > 0 %}
		<h5> Child </h5>
		{% include 'search/concept_override_table_template.html' with payload_item=payload.acid_relationship_child %}
	{% endif %}
</div>
<br>
<br>






<div class="row center" id="new_concept">
	<br>
	<br>
	<h3> Add new concept </h3>
</div>
<div class="container">
	<form action="{% url 'search:post_concept_override' %}" method="post"> 
		{% csrf_token %}
		<div class="row form-row">
			<div class="input-field col s8">
				Concept name <input type="text" name="new_concept"> <br> 
			</div>
			<div class="input-field col s2">
				<button type="submit" value="new_concept_submit" class="waves-effect waves-light btn search-btn">Submit</button>
			</div>
		</div>
	</form>
</div>

<div class="container" id="new_concept_results">
	{{payload.message}}
	{% if payload.new_concept_success is False %}
	<h5> {{payload.new_concept_message}} </h5>
		{% include 'search/concept_override_table_template.html' with payload_item=payload.new_concept %}
	
	{% else %}
		{{payload.new_concept_success}}
	{% endif %}
</div>


<br>
<br>
<br>
<br>
<br>
<br>


<div class="row center" id="remove_concept">
	<br>
	<br>
	<h3> Remove concept </h3>
</div>
<div class="container">
	<form action="{% url 'search:post_concept_override' %}" method="post"> 
		{% csrf_token %}
		<div class="row form-row">
			<div class="input-field col s8">
				ACID <input type="text" name="remove_acid"> <br> 
			</div>
			<div class="input-field col s2">
				<button type="submit" value="remove_acid_submit" class="waves-effect waves-light btn search-btn">Submit</button>
			</div>
		</div>
	</form>
</div>

<div class="container" id="remove_concept_results">
	{{payload.remove_concept}}
</div>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="row center" id="new_desc">
	<br>
	<br>
	<h3> Add new description </h3>
</div>
<div class="container">
	<form action="{% url 'search:post_concept_override' %}" method="post"> 
		{% csrf_token %}
		<div class="row form-row">
			<div class="input-field col s8">
				Description: <input type="text" name="new_description"> <br> 
			</div>
			<div class="input-field col s8">
				ACID: <input type="text" name="new_description_acid"> <br> 
			</div>
			<div class="input-field col s2">
				<button type="submit" value="new_description_submit" class="waves-effect waves-light btn search-btn">Submit</button>
			</div>
		</div>
	</form>
</div>

<div class="container" id="add_description_results">
	{{payload.add_description_message}}
</div>


<br>
<br>
<br>
<br>
<br>
<br>


<div class="row center" id="remove_desc">
	<br>
	<br>
	<h3> Remove description </h3>
</div>
<div class="container">
	<form action="{% url 'search:post_concept_override' %}" method="post"> 
		{% csrf_token %}
		<div class="row form-row">
			<div class="input-field col s8">
				ADID: <input type="text" name="remove_adid"> <br> 
			</div>
			<div class="input-field col s2">
				<button type="submit" value="remove_adid_submit" class="waves-effect waves-light btn search-btn">Submit</button>
			</div>
		</div>
	</form>
</div>

<div class="container" id="remove_adid_results">
	{{payload.remove_adid}}
</div>


<br>
<br>
<br>
<br>
<br>
<br>


<div class="row center" id="change_rel">
	<br>
	<br>
	<h3> Change relationship </h3>
</div>
<div class="container">
	<form action="{% url 'search:post_concept_override' %}" method="post"> 
		{% csrf_token %}
		<div class="row form-row">
			<div class="input-field col s8">
				CHILD ACID: <input type="text" name="child_acid"> <br> 
			</div>
		</div>
		<div class="row form-row">
			<div class="input-field col s8">
				PARENT ACID: <input type="text" name="parent_acid"> <br> 
			</div>
		</div>
		<div class="row form-row">
			<div class="input-field col s8">
				Action type ("add" or "del"): <input type="text" name="rel_action_type"> <br> 
			</div>
		</div>
		<div class="input-field col s2">
			<button type="submit" value="change_rel_submit" class="waves-effect waves-light btn search-btn">Submit</button>
		</div>
	</form>
</div>

<div class="container" id="change_relationship_results">
	{{payload.change_relationship.error}}
	{{payload.change_relationship.message}}
</div>


<br>
<br>
<br>
<br>
<br>
<br>


<div class="row center" id="label_tx">
	<br>
	<br>
	<h3> Label condition/treatment </h3>
</div>
<div class="container">
	<form action="{% url 'search:post_concept_override' %}" method="post"> 
		{% csrf_token %}
		<div class="row form-row">
			<div class="input-field col s8">
				CONDITION ACID: <input type="text" name="condition_acid_labelled"> <br> 
			</div>
		</div>
		<div class="row form-row">
			<div class="input-field col s8">
				TREATMENT ACID: <input type="text" name="treatment_acid_labelled"> <br> 
			</div>
		</div>
		<div class="row form-row">
			<p>
				<label>
					<input name="rel_0" type="radio"/>
					<span> zero (not a treatment) </span>
				</label>
			</p>
			<p>
				<label>
					<input name="rel_1" type="radio"/>
					<span> one (is a treatment) </span>
				</label>
			</p>
			<p>
				<label>
					<input name="rel_2" type="radio" />
					<span> item is too broad </span>
				</label>
			</p>
		</div>
		<div class="input-field col s2">
			<button type="submit" value="labelled_condition_treatment_submit" class="waves-effect waves-light btn search-btn">Submit</button>
		</div>
	</form>
</div>

<div class="container" id="labelled_condition_treatment_results">
	{{payload.labelled_condition_treatment_message}}
</div>


<br>
<br>
<br>
<br>
<br>
<br>

<div class="row center">
	<h3> Is acronym </h3>
</div>
<div class="container">
	<form action="{% url 'search:post_concept_override' %}" method="post"> 
		{% csrf_token %}
		<div class="row form-row">
			<div class="input-field col s8">
				ADID: <input type="text" name="adid_acronym_override"> <br> 
			</div>
		</div>
		<div class="row form-row">
			<p>
				<label>
					<input name="rel_true" type="radio"/>
					<span> true </span>
				</label>
			</p>
			<p>
				<label>
					<input name="rel_false" type="radio"/>
					<span> false </span>
				</label>
			</p>
		</div>
		<div class="input-field col s2">
			<button type="submit" value="acronym_override_submit" class="waves-effect waves-light btn search-btn">Submit</button>
		</div>
	</form>
</div>

<div class="container" id="acronym_override_results">
	{{payload.acronym_override_message}}
</div>


<br>
<br>
<br>
<br>
<br>
<br>



<div class="row center" id="change_type">
	<br>
	<br>
	<h3> Change concept type </h3>
</div>
<div class="container">
	<form action="{% url 'search:post_concept_override' %}" method="post"> 
		{% csrf_token %}
		<div class="row form-row">
			<div class="input-field col s8">
				ACID: <input type="text" name="acid_change_concept_type"> <br> 
			</div>
		</div>
		<span> Change the following rel_type </span>
		<div class="row form-row">
			<p>
				<label>
					<input name="rel_condition" type="radio"/>
					<span> condition </span>
				</label>
			</p>
			<p>
				<label>
					<input name="rel_symptom" type="radio"/>
					<span> symptom </span>
				</label>
			</p>
			<p>
				<label>
					<input name="rel_treatment" type="radio"/>
					<span> treatment </span>
				</label>
			</p>
			<p>
				<label>
					<input name="rel_cause" type="radio"/>
					<span> cause </span>
				</label>
			</p>
			<p>
				<label>
					<input name="rel_diagnostic" type="radio"/>
					<span> diagnostic </span>
				</label>
			</p>
			<p>
				<label>
					<input name="rel_statistic" type="radio"/>
					<span> statistic </span>
				</label>
			</p>
			<p>
				<label>
					<input name="rel_outcome" type="radio"/>
					<span> outcome </span>
				</label>
			</p>
		</div>
		<div class="row form-row">
			<p>
				<label>
					<input name="rel_activate" type="radio"/>
					<span> activate </span>
				</label>
			</p>
			<p>
				<label>
					<input name="rel_inactivate" type="radio"/>
					<span> inactivate </span>
				</label>
			</p>
		</div>

		<div class="input-field col s2">
			<button type="submit" value="change_concept_type_submit" class="waves-effect waves-light btn search-btn">Submit</button>
		</div>
	</form>
</div>

<div class="container" id="acronym_override_results">
	{{payload.change_concept_type_message}}
</div>


<br>
<br>
<br>
<br>
<br>
<br>



<!-- 
		<h3> Descriptionid: <input type="text" name="description_id"> </h3> <br>
		<input type="radio" name="action_type" value="add_description"> add description <br>
		<input type="radio" name="action_type" value="activate_description_id"> activate description id <br>
		<input type="radio" name="action_type" value="deactivate_description_id"> deactivate description id <br>
		<input type="radio" name="action_type" value="add_concept"> add concept <br>
		<input type="radio" name="action_type" value="is_acronym"> description IS acronym <br>
		<input type="radio" name="action_type" value="is_not_acronym"> description IS NOT acronym <br>
		<h3> Description text: <input type="text" name="description_text"> </h3>
		<input type="submit" value="submit">
	</form>
</div>
 -->