<head>
	<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js">  </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

{% load static %}
<script src="{% static "js/labelling.js" %}"></script>


<div class="row center">
	<br>
	<br>
	<h3 > Rapid labelling </h3>
</div>

<div class="row center">
	<h5>{{message}}</h5>
</div>

<div class="container">
	<form action="{% url 'search:post_labelling' %}" method="post"> 
		{% csrf_token %}
		<div class="row form-row">
			<div class="input-field col l2">
				condition: <input type="text" name="condition_acid" 
				value="{{condition_acid}}">
			</div>
			<div class="col l2">
				{{condition}}
			</div>
			<div class="col l2">
				treatment: <input type="text" name="treatment_acid"
				value="{{treatment_acid}}">
			</div>
			<div class="col l2">
				{{treatment}}
			</div>
			<div class="col l2">
				{{t1avg}}
			</div>
		</div>
		<div class="row form-row">
			<p>
				<label class="l2">
					<input name="rel_0" type="radio"/>
					<span> zero (not a treatment) </span>
				</label>
			</p>
			<p>
				<label class="l2">
					<input name="rel_1" type="radio"/>
					<span> one (is a treatment) </span>
				</label>
			</p>
			<p>
				<label>
					<input name="rel_2" type="radio" />
					<span> skip </span>
				</label>
			</p>
		</div>
		<div class="input-field col s2">
			<button type="submit" value="rapid_labelling_submit" class="waves-effect waves-light btn search-btn">Submit</button>
		</div>
		
	</form>


</div>
