{% load staticfiles  %}
{% load app_filters %}

<head>
	
	<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="{% static css %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js">  </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	


</head>
<br>
<br>
<br>
<!-- <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link {{search_active}}" href="/">Search</a>
			<a class="nav-item nav-link {{vanc_active}}" href="/vancomycin">Vancomycin</a>
		</div>
	</div>
</nav> -->
