{% include 'search/main_header.html' with css='css/search.css' search_active='active' vanc_active='' %}


<div body>

<div class="container">
	<h1> Treatment candidate generation </h1>
	<br>
<form action="{% url 'search:post_ml' %}" method="post"> 
{% csrf_token %}
	<h4> Input sentence <input class='materialize-textarea' name="sentence" value="{{input_sentence}}"> </h4> <br> 
	<!-- {{results}} -->
	{% for key,value in results.items %}
		<b>{{key}}</b>
		<br>
		{% for i in value %}
			{{i}}
			<br>
		{% endfor %}
		<!-- {{ key }} -->
		<!-- {% for i in results.key %}
			{{i}}
		{% endfor %} -->
	{% endfor %}
	<br>
	<input type="submit" value="submit">
</form>
</div>
</div>