{% load static %}
<script src="{% static "js/header.js" %}"></script>
<header class="white">
		<ul id="dropdown1" class="dropdown-content">
			<li> <a href="/" class="black-text"> Search </a></li>
			<li> <a href="/about" class="black-text"> About </a></li>
			<li> <a href="/terms"class="black-text"> Terms </a></li>
		</ul>
		<div class="navbar-fixed">
			<div class="nav-wrapper white">
				<nav id="header_nav" class="z-depth-0">
					<ul class="left">
						<li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i id="menu" class="material-icons icon-red">menu</i></a></li>
					</ul>
				</nav>
			</div>
		</div>
</header>