{% for key,item in node.items %}

{% if forloop.parentloop.counter < 11 %}
<li style="list-style-type:circle !important"> 

{% else %}
<li style="list-style-type:circle !important" class="hidden-items hide"> 

{% endif %}
	<form action=# method="POST" class="pivot-form"> 
		{% csrf_token %}
		<ul>

			<div class="row valign-wrapper">
				<div class="col s12 pivot-item">
					<button type="submit" class="pivot-button" id="{{key}}"> {{item.name}} ({{item.count}} papers)</button>
					<input type="hidden" id="pivot_cid" value="{{key}}">
					<input type="hidden" id="pivot_term" value="{{item.name}}">
						{% if item.children|length > 0 %}
							({{item.children.0}} 

							{% if item.children|length > 1 %}
								, {{item.children.1}} ...
							{% endif %})
						{% endif %}
				</div>
			</div>
		</ul>
	</form>


</li>
{% endfor %}





															
															
															
															