{% for key,item in node.items %}
<li> 
	<form class="inline-form" action=# method="get"> 
		{% csrf_token %}
		<input type="hidden" name="pivot_cid" value="{{key}}">
		<input type="hidden" name="term1" value="{{concepts.0.term}}">
		<input type="hidden" name="term2" value="{{item.name}}">
		<input type="hidden" name="query_type" value="pivot">
		<input type="hidden" name="pivot_type" value="{{pivot_type}}">
		<input type="hidden" name="query" value="{{query}}">
		{% for c in primary_cids %}
			<input type="hidden" name="primary_cids[]" value="{{c}}">
		{% endfor %}
		{% for j in journals %}
			<input type="hidden" name="journals[]" value="{{j}}">
		{% endfor %}

		<input type="submit" value="{{item.name}} ({{item.count}} papers)" class="btn btn-link btn-sm">
		<input type="submit" name="-" value="-" class="btn btn-link btn-sm">
		<input type="submit" name="+" value="+" class="btn btn-link btn-sm">
	</form>
	{% if item.children|length > 0 %}
		<ul>
			{% for child in item.children %}
				{%with node=child template_name="search/nested_view_template.html" %}
					{% include template_name %}
				{% endwith %}
			{% endfor %}
		</ul>
	{% endif %}
</li>
{% endfor %}




															
															
															
															