{% for key,item in node.items %}
<li style="list-style-type:circle !important"> 
	<form action=# method="POST" class="pivot-form"> 
		{% csrf_token %}
		<ul>

			<div class="row valign-wrapper">
				<div class="col s8 pivot-item">
					<button type="submit" class="pivot-button" id="{{key}}"> {{item.name}} ({{item.count}} papers)</button>
					<input type="hidden" id="pivot_cid" value="{{key}}">
					<input type="hidden" id="pivot_term" value="{{item.name}}">
					
				</div>
				<div class="col s1"></div>
				<div class="col s1">
					<a href="#"> - </a>
				</div>
				<div class="col s1">
					<a href="#"> + </a>
				</div>
				<div class="col s1">
					<a href="#"> n/a </a>
				</div>
			</div>
		</ul>
	</form>
	{% if item.children|length > 0 %}
		<ul>
			{% for child in item.children %}
				{%with node=child template_name="search/nested_view_template.html" %}
					{% include template_name %}
				{% endwith %}
			{% endfor %}
		</ul>
	{% endif %}
</li>
{% endfor %}




															
															
															
															