{% load staticfiles  %}
{% load app_filters %}


<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/vancocalc.css' %}">

	<script src="{% static "js/jquery.js" %}"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
</head>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="{% static "js/vanco-calc.js" %}"></script>



<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">

		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/concept_search_home_page">Search</a>
				<a class="nav-item nav-link active" href="/vancocalc">Vancomycin</a>

			</div>
		</div>
	</nav>

<div class="vanco-body">
	<h5 class="card-title">New case</h5>

	<div class="vanco-calc">
		<div class="card w-100">
			<div class="card-block">
				<form action="{% url 'search:vc_case_view' %}" method="post"> 
				{% csrf_token %}
					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="casename">Case name</label>
							<input type="text" maxlength="4" name="casename" class="form-control" id="casename">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="age">Age</label>
							<input type="text" name="age" class="form-control" id="age">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="gender">Gender</label>
							<!-- sad hack -->
							<br>
							<div class="btn-group btn-group-toggle" data-toggle="buttons">
								<label class="btn btn-secondary active" id="gender">
									<input type="radio" name="gender" id="female" checked> F
								</label>
								<label class="btn btn-secondary">
									<input type="radio" name="gender" id="male" unchecked> M
								</label>
							</div>
						</div>
					</div>
					
					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="weight">Weight <b>(kg)</b></label>
							<input type="text" name="weight" class="form-control" id="weight">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="height-ft">Height <b>(ft)</b></label>
							<input type="text" name="height-ft" class="form-control" id="height-ft">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="height-in">Height <b>(in)</b></label>
							<input type="text" name="height-in" class="form-control" id="height-in">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="creatinine">Current creatinine <b>(mg/dL)</b> </label>
							<input type="text" name="creatinine" class="form-control" id="creatinine">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="bl_creatinine">Baseline creatinine <b>(mg/dL)</b> </label>
							<input type="text" name="bl_creatinine" class="form-control" id="bl_creatinine">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="indication">Indication</label>
							<select class="form-control" id="indication">
								<option disabled selected value> -select indication- </option>
								<option>Bacteremia</option>
								<option>Brain abscess</option>
								<option>Cellulitis</option>
								<option>Cystitis</option>
								<option>Endocarditis</option>
								<option>Meningitis</option>
								<option>Neutropenic fever</option>
								<option>Osteomyelitis</option>
								<option>Prosthetic joint infection</option>
								<option>Pulmonary infection</option>
								<option>Sepsis</option>
								<option>Skin and soft tissue infections</option>
								<option>Urinary tract infection</option>
								<option>Urosepsis</option>
							</select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="targetTrough">Trough target</label>
							<select class="form-control" id="targetTrough" name="targetTrough">
								<option disable selected value> -select indication or trough target-</option>
								<option value="0">10-15</option>
								<option value="1">15-20</option>
							</select>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="comorbid">Comorbid conditions</label>
							<select class="form-control js-example-basic-multiple" name="comorbid[]" multiple="multiple" id="comorbid">
								<option value="esld"> ESLD </option>
								<option value="dm"> Diabetes </option>
								<option value="chf"> CHF </option>
								<option value="hd"> Hemodialysis </option>
								<option value="crrt"> CRRT </option>
							</select>
						</div>
					</div>
					<input type="hidden" name="uid" value="{{new_case_payload.uid}}">
					<input type="hidden" name="username" value="{{new_case_payload.username}}">
					
					<input type="submit" name="create" class="btn btn-primary" id="vanco-calc" value="create">
				</form>
			</div>
		</div>
	</div>
</div>