

{% for a in sr_payload %}
		<div class="abstract">
			<div class="abstract-body">
				<div class="row fixed-height">
					<div class="col-sm-10"> <h2>{{a.article_title}} </h2> </div>
					{% if a.abstract_hide != None or a.abstract_show.1|length > 470 %}
						<div class="col-sm-2 expand-btn"><button id="expando" class="btn btn-light">Expand</button></div>
					{% else %}
						<div class="col-md-2 col-md-offset-2"> </div>
					{% endif %}
				</div>

				<div class="abstract-metadata">
					<div class="row fixed-height">
						<div class="col-sm-3">
							<div class="pub-year">
								<h5>{{a.journal_pub_year}}</h5>
							</div>
						</div>
						<div class="col-sm-2">
							<h5><a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/{{a.pmid}}">pubmed</a></h5>
						</div>
						<div class="col-sm-2">
						</div>
						<div class="col-sm-2">
							<h5><a target="_blank" href="http://localhost:9200/pubmedx1.4/abstract/{{a.id}}?pretty"> source </a> </h5>
						</div>
						<div class="col-sm-3">
							<div class="journal-title">
								<h5> {{a.journal_title}} </h5>
							</div>
						</div>
					</div>
				</div>
				{% if a.abstract_show is not None %}
					<div class="preview-ellipsis">
						{% if a.abstract_show.0 == 'unlabelled' %}
							<h4>abstract</h4>
						{% else %}
							<h4>{{a.abstract_show.0}}</h4>
						{% endif %}
						<h4>{{a.abstract_show.1}}</h4><br>
					</div>
				{% endif %}
				{% if a.abstract_hide is not None %}
					<div class="expanded">
						{% for item in a.abstract_hide %}
							{% if item.0 != "text" %}
								<h4>{{item.0}}</h4>
							{% endif %}
							<h4>{{item.1}}</h4> <br>
						{% endfor %}
					</div>
				{% endif %}
			</div>
			
		</div>
		<hr>
	{% endfor %}