{% load app_filters %}
{% load static %}
<script src="{% static "js/search-results.js" %}"></script>

{% for a in sr_payload %}
	<div class="row s12">
		<div class="col s12">
			<div class="card">
				<div class="card-content">

					<div class="row">
						<div class="col s11">

							<span class="card-title" id="abstract-title">{{a.article_title}}</span>
						</div>
						<div class="col s1">
							<div style="text-align: right;">
								<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/{{a.pmid}}">
									<i class="material-icons icon-blue" id="expand_icon">launch</i>
								</a>
							</div>
						</div>
					</div>

					<div class="row valign-wrapper">
						<div class="col s1">
							<h6 class="pub-year">{{a.journal_pub_year}}</h6>
						</div>
						
						<!-- <div class="col s4"></div> -->
						<div class="col s9" style="text-align: center;">
							<!-- <h6><a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/{{a.pmid}}">
							<i class="material-icons icon-blue" id="expand_icon">launch</i>
							</a></h6> -->
						</div>
						<div class="col s2" style="text-align: center;">
							<h6><a target="_blank" href="http://localhost:9200/pubmedx2.0/_doc/{{a.id}}?pretty"> source </a> </h6>
						</div>
						<div class="col s2 right-align">
							<h6 class="journal-title"> {{a.journal_title}} </h6>
						</div>
					</div>
			
				{% if a.abstract_show.1 != 'None' %}
					<div class="preview-ellipsis" id="preview-ellipsis">

						{% if a.abstract_show.0 != 'unlabelled' %}
							<h6><b>{{a.abstract_show.0}}</b></h6>
						{% endif %}
						<p>{{a.abstract_show.1}}</p><br>
					</div>
				{% endif %}
				{% if a.abstract_hide is not None %}
					<div class="expanded" id="expanded">
						{% for item in a.abstract_hide %}
							{% if item.0 != "text" and item.0 != "unlabelled" %}
								<h6><b>{{item.0}}</b></h6>
							{% endif %}
							<p>{{item.1}}</p> <br>
						{% endfor %}
					</div>
				{% endif %}
			
				<div class="row center-align expand_btn">
					{% if a.abstract_hide != None or a.abstract_show.1|length > 470 %}
						<a class="btn-floating btn-large waves-effect waves-light white exp_more" id="expando">
							<i class="material-icons icon-blue" id="expand_icon">expand_more</i>
						</a>					
					{% endif %}
				</div>
				</div>
			</div>
		</div>
	</div>
{% endfor %}