{% load staticfiles  %}



<div class="vanco-calc">
	<div class="card w-100">
		<div class="card-block">
			<h3 class="card-title"> VancoCalc </h3>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>


				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="age">Age</label>
						<input type="text" name="age" class="form-control" id="age">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="gender">Gender</label>
						<!-- sad hack -->
						<br>
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
	  						<label class="btn btn-secondary active" id="gender">
	    						<input type="radio" name="female" id="female" autocomplete="off" checked> F
	  						</label>
	  						<label class="btn btn-secondary">
	    						<input type="radio" name="male" id="male" autocomplete="off"> M
	  						</label>
						</div>
					</div>
				</div>
				
				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="weight">Weight <b>(kg)</b></label>
						<input type="text" name="weight" class="form-control" id="weight">
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="height-feet">Height <b>(ft)</b></label>
						<input type="text" name="height-feet" class="form-control" id="height-ft">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="height-inches">Height <b>(in)</b></label>
						<input type="text" name="height-inches" class="form-control" id="height-in">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="creatinine">Creatinine <b>(mg/dL)</b> </label>
						<input type="text" name="creatinine" class="form-control" id="creatinine">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="indication">Indication</label>
						<select class="form-control" id="indication">
							<option disabled selected value> -select indication- </option>
							<option>Bacteremia</option>
							<option>Brain abscess</option>
							<option>Cellulitis</option>
							<option>Cystitis</option>
							<option>Endocarditis</option>
							<option>Meningitis</option>
							<option>Neutropenic fever</option>
							<option>Osteomyelitis</option>
							<option>Prosthetic joint infection</option>
							<option>Pulmonary infection</option>
							<option>Sepsis</option>
							<option>Skin and soft tissue infections</option>
							<option>Urinary tract infection</option>
							<option>Urosepsis</option>
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="trough">Trough target</label>
						<select class="form-control" id="trough">
							<option disable selected value> -select indication or trough target-</option>
							<option value="0">10-15</option>
							<option value="1">15-20</option>
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="doseType">Dose type</label>
						<!-- sad hack -->
						<br>
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
	  						<label class="btn btn-secondary active" id="doseType">
	    						<input type="radio" name="loading" id="loading" autocomplete="off" checked> Loading
	  						</label>
	  						<label class="btn btn-secondary">
	    						<input type="radio" name="maintenance" id="maintenance" autocomplete="off"> Maintenance
	  						</label>
						</div>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
		      			<label for="comorbid">Comorbid conditions</label>
		      			<select class="form-control js-example-basic-multiple" name="comorbid[]" multiple="multiple" id="comorbid">
					  			<option value="esld"> ESLD </option>
					  			<option value="dm"> Diabetes </option>
					  			<option value="chf"> CHF </option>
					  			<option value="hd"> Hemodialysis </option>
					  			<option value="crrt"> CRRT </option>
						</select>
		    		</div>
		    	</div>
				<div class="crcl">
					<h3 id="crcl-text"> CrCl : </h3> 
				</div>
    			<input type="submit" class="btn btn-primary" id="vanco-calc" value="Submit">

    		</div>
		</div>
	</div>

<script src="{% static "js/vanco-calc.js" %}"></script>