{% load staticfiles  %}
{% load app_filters %}


<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/vancocalc.css' %}">

	<script src="{% static "js/jquery.js" %}"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
</head>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="{% static "js/vanco-calc.js" %}"></script>



<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">

		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/concept_search_home_page">Search</a>
				<a class="nav-item nav-link active" href="/vancocalc">Vancomycin</a>

			</div>
		</div>
	</nav>

<div class="vanco-body">
	<div class="row fixed-height">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8">
			<h2> {{cases_payload.username}}</h2>
		</div>
	</div>
	<form action="{% url 'search:vc_new_case' %}" method="get"> 
		{% csrf_token %}

		<div class="form-row">
			<div class="form-group col-md-4">
			</div>
			<div class="form-group col-md-4">
				<input type="hidden" name="uid" value="{{cases_payload.uid}}">
				<input type="hidden" name="username" value="{{cases_payload.username}}">
			</div>
			<div class="form-group col-md-2">
				<input type="submit" value="new case" class="btn btn-info">
			</div>
			<div class="form-group col-md-2">
			</div>
		</div>
	</form>

	{% for c in cases_payload.cases %}
		<div class="row fixed-height">
			<div class="col-sm-2">
			</div>
			<div class="col-sm-8">
				{{c.casename}}
			</div>
			<div class="col-sm-2">
				<form action="{% url 'search:vc_case_view' %}" method="get"> 
					{% csrf_token %}
						<input type="hidden" name="uid" value="{{cases_payload.uid}}">
						<input type="hidden" name="casename" value="{{c.casename}}">
						<input type="hidden" name="username" value="{{cases_payload.username}}">
						<input type="hidden" name="cid" value="{{c.cid}}">
						<input type="submit" value="View" class="btn btn-link">
				</form>
			</div>
		</div>
	{% endfor %}
	
</div>