{% load staticfiles  %}
{% load app_filters %}


<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/vancocalc.css' %}">

	<script src="{% static "js/jquery.js" %}"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
</head>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="{% static "js/vanco-calc.js" %}"></script>



<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">

		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/concept_search_home_page">Search</a>
				<a class="nav-item nav-link active" href="/vancocalc">Vancomycin</a>

			</div>
		</div>
	</nav>

<div class="vanco-body">

	<div class="fixed-height">
		<h2 class="text-center"> Case {{case_payload.casename}} : Loading dose</h2>
	</div>

	<form action="{% url 'search:vc_loading' %}" method="post"> 
		{% csrf_token %}
			<div class="form-row">
				<div class="col-md-3">
					<label for="wt"> Enter weight <b>(kg)</b> </label>
					<input type="float" value="{{case_payload.weight}}" name="wt" class="form-control" id="wt">
				</div>
			</div>
			<br>
			<div class="form-row">
				<div class="col-md-3">
					<label for="cr"> Enter creatine <b>g/dL</b> </label>
					<input type="float" name="cr" class="form-control" id="cr">
				</div>
			</div>
			<br>
			<div class="form-row">
				<div class="col-md-3">
					<input type="hidden" name="uid" value="{{case_payload.uid}}">
					<input type="hidden" name="username" value="{{case_payload.username}}">
					<input type="hidden" name="cid" value="{{case_payload.cid}}">
					<input type="hidden" name="casename" value="{{case_payload.casename}}">
					<input type="submit" name="loadingWt" value="Submit" class="btn btn-primary">
				</div>
			</div>
	</form>
</div>