{% include 'search/vc_header.html' %}

<div class="vanco-body">

	<div class="fixed-height">
		<h2 class="text-center"> Case {{case_payload.casename}}</h2>
	</div>

	<br>
	<br>

	<h4 class="text-center"> Recommended dose : {{case_payload.d_obj.dose}} mg {{case_payload.d_obj.freq}}</h4>
	{% if case_payload.d_obj.alert != None %}
		<h5 class="text-center"><i><b> {{case_payload.d_obj.alert}} </b></i></h5>
	{% endif %}

	<br>
	<div class="form-row">
		<div class="col-md-6 text-center">
			<form action="{% url 'search:vc_case_view' %}"  method="post"> 
				{% csrf_token %}
					<input type="hidden" name="uid" value="{{case_payload.uid}}">
					<input type="hidden" name="username" value="{{case_payload.username}}">
					<input type="hidden" name="cid" value="{{case_payload.cid}}">
					<input type="hidden" name="casename" value="{{case_payload.casename}}">
					<input type="hidden" name="dose" value="{{case_payload.d_obj.dose}}">
					<input type="hidden" name="freq" value="{{case_payload.d_obj.freq}}">
					<input type="hidden" name="alert" value="{{case_payload.d_obj.alert}}">
					<input type="submit" name="acceptDose" value="Accept" class="btn btn-success">
			</form>
		</div>
		<div class="col-md-6 text-center">
			<form action="{{case_payload.changeAction}}" method="get"> 
			{% csrf_token %}
					<input type="hidden" name="uid" value="{{case_payload.uid}}">
					<input type="hidden" name="username" value="{{case_payload.username}}">
					<input type="hidden" name="cid" value="{{case_payload.cid}}">
					<input type="hidden" name="casename" value="{{case_payload.casename}}">
					<input type="hidden" name="dose" value="{{case_payload.d_obj.dose}}">
					<input type="hidden" name="freq" value="{{case_payload.d_obj.freq}}">
					<input type="hidden" name="alert" value="{{case_payload.d_obj.alert}}">
					<input type="submit" name="changeDose" value="Change" class="btn btn-danger">
			</form>
		</div>
	</div>
</div>