{% include 'vc/vc_header.html' %}

<div class="vanco-body">

	<div class="fixed-height">
		<h2 class="text-center"> Case: {{case_payload.casename}}</h2>
	</div>

	<br>
	<br>
	<div class="form-row">
		<div class="col-md-4 text-center">
			<a href="{% url 'search:loading_form' cid=case_payload.cid %}" class = "btn btn-link"> Loading</a>
		</div>
		<div class="col-md-4 text-center">
			<a href="{% url 'search:maintenance_form' cid=case_payload.cid %}" class = "btn btn-link"> Maintenance</a>
		</div>
		<div class="col-md-4 text-center">
			<form action="{% url 'search:redose_form' cid=case_payload.cid %}" method="get"> 
				{% csrf_token %}
					<div class="form-group">
						<input type="hidden" name="uid" value="{{case_payload.uid}}">
						<input type="hidden" name="username" value="{{case_payload.username}}">
						<input type="hidden" name="cid" value="{{case_payload.cid}}">
						<input type="hidden" name="casename" value="{{case_payload.casename}}">
						<input type="submit" name="redose" value="Redose" class="btn btn-link">
					</div>
			</form>
		</div>
	</div>

	<h4> Creatinine / Dosing </h4>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Date</th>
				<th scope="col">Cr</th>
				<th scope="col">CrCl</th>
				<th scope="col">Dose</th>
				<th scope="col">Frequency</th>
				<th scope="col">Alert </th>
			</tr>
		</thead>
		<tbody>
			{% for c in case_payload.crDose %}
				{% if c.type == 'creatinine' %}
					<tr>
						<td>{{c.effectivetime}}</td>
						<td>{{c.creatinine}}</td>
						<td>{{c.crcl}}</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				{% else %}
					<tr>
						<td>{{c.effectivetime}}</td>
						<td></td>
						<td></td>
						<td>{{c.dose}}</td>
						<td>{{c.freqString}}</td>
						<td>{{c.alert}}</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
	<form action="{% url 'search:vc_case_view' cid=case_payload.cid %}" method="post"> 
		<div class="form-row">
		{% csrf_token %}
			<div class="col-md-2">				
				<input type="float" name="cr" class="form-control" id="cr">
			</div>
			<div class="col-md-2">
				<input type="submit" name="addCr" value="AddCr" class="btn btn-link">
			</div>
		</div>
	</form>
	<br>
	<br>
	<br>

	<h4> Weight </h4>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Date</th>
				<th scope="col">Weight</th>
				<th scope="col">Dosing weight</th>
			</tr>
		</thead>
		<tbody>
			{% for w in case_payload.weight %}
			<tr>
				<td>{{w.effectivetime}}</td>
				<td>{{w.weight}}</td>
				<td>{{w.dosingWeight}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<h4> Comorbidities </h4>
		{% if case_payload.chf == 1 %}
			<ul>CHF</ul>
		{%endif%}
		{% if case_payload.esld == 1 %}
			<ul>ESLD</ul>
		{%endif%}
		{% if case_payload.crrt == 1 %}
			<ul>CRRT</ul>
		{%endif%}
		{% if case_payload.hd == 1 %}
			<ul>HD</ul>
		{%endif%}
		{% if case_payload.dm == 1 %}
			<ul>DM</ul>
		{%endif%}
</div>
