{% include 'vc/vc_header.html' %}

<div class="vanco-body">

	<div class="fixed-height">
		<h2 class="text-center"> Case {{case_payload.casename}} : Loading dose</h2>
	</div>

	<form action="{% url 'search:loading_form' cid=case_payload.cid%}" method="post"> 
		{% csrf_token %}
			<div class="col-md-3">
				<label for="wt"> Enter weight <b>(kg)</b> </label>
				<input type="number" value="{{case_payload.weight}}" name="wt" class="form-control" id="wt" step=".1" required>
			</div>
			<br>
			<div class="col-md-6">
				<input type="submit" name="loadingWt" value="Submit" class="btn btn-primary">
			</div>
	</form>
</div>