{% include 'vc/vc_header.html' %}

<div class="vanco-body">

	<div class="fixed-height">
		<h2 class="text-center"> Case {{case_payload.casename}} : Maintenance dose</h2>
	</div>

	<form action="{% url 'search:maintenance_form' cid=case_payload.cid %}" method="post"> 
		{% csrf_token %}
			<div class="form-row">
				<div class="col-md-3">
					<label for="wt"> Enter weight <b>(kg)</b> </label>
					<input type="number" value="{{case_payload.weight}}" name="wt" class="form-control" id="wt" step=".1" required>
				</div>
			</div>
			<br>
			<div class="form-row">
				<div class="col-md-3">
					<label for="cr"> Enter creatine <b>g/dL</b> </label>
					<input type="number" name="cr" class="form-control" id="cr" step=".01" required>
				</div>
			</div>
			<br>
			<div class="form-row">
				<div class="col-md-3">
					<input type="submit" name="maintenanceRec" value="Submit" class="btn btn-primary">
				</div>
			</div>
	</form>
</div>