{% include 'vc/vc_header.html' %}

<div class="vanco-body">

	<div class="fixed-height">
		<h2 class="text-center"> Case {{case_payload.casename}} : Loading dose</h2>
	</div>

	<form action="{% url 'search:redose_form' cid=case_payload.cid %}" method="post"> 
		{% csrf_token %}
			<div class="form-row">
				<div class="col-md-3">
					<label for="wt"> Enter weight <b>(kg)</b> </label>
					<input type="float" value="{{case_payload.weight}}" name="wt" class="form-control" id="wt">
				</div>
			</div>
			<br>
			<div class="form-row">
				<div class="col-md-3">
					<label for="cr"> Enter creatine <b>g/dL</b> </label>
					<input type="float" name="cr" class="form-control" id="cr">
				</div>
			</div>
			<br>
			<div class="form-row">
				<div class="col-md-3">
					<label for="tr"> Enter trough</label>
					<input type="float" name="trough" class="form-control" id="tr">
				</div>
			</div>
			<br>
			<label for="doseNum"> When was the trough drawn? </label>
			<div class="form-row">
				<div class="radio">
					<label><input type="radio" name="doseNum" id="doseNum" value="3"> Before 3rd maintenance dose </label>
				</div>
			</div>

			<div class="form-row">
				<label><input type="radio" name="doseNum" id="doseNum" value="4"> Before 4th maintenance dose</label>
			</div>
			<br>

			<div class="form-row">
				<div class="col-md-3">
					<input type="hidden" name="uid" value="{{case_payload.uid}}">
					<input type="hidden" name="username" value="{{case_payload.username}}">
					<input type="hidden" name="cid" value="{{case_payload.cid}}">
					<input type="hidden" name="casename" value="{{case_payload.casename}}">
					<input type="submit" name="maintenanceRec" value="Submit" class="btn btn-primary">
				</div>
			</div>
	</form>
</div>