.navbar {
  margin-bottom: 20px !important;
}



.title_header {
	text-align: center;
}

.query-display {
	padding-bottom: 10px;
}

.form-row {
	margin-bottom: 0px !important;
}

.search-btn {
	background-color: #007bff !important;
}

.body {
	padding-top: 25px;
	width: 800px;
	margin: auto;
}

.search-bar {

	margin: auto;
	width: 800px;
}

.nested {
	style: "list-style-type:circle" !important;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.chips > input {
	margin-bottom: 0px !important;
}

.filters {
	display: none;
	padding-top: 5px !important;
}

.filter-button {
	padding: 0px;
}


.chevron {
	vertical-align: baseline !important;
}

.filter-item {
	margin: 0px !important;
}

.rotate-down{
  transform:rotate(90deg);
  transition: 0.5s;
}

.rotate-up{
	transform:rotate(0deg);
	transition: 0.5s;
}

.chips .chip {
	border-radius: 0px !important;
}

.search-bar {
	padding-top: 20px;
}

.search-bar > form > .filters {
	color: #6f7072;
	padding-top: 15px;
	padding-bottom: 15px;
}




.abstract-body {
	border-radius: 5px;
	margin-bottom: 40px;

}

.preview-ellipsis {
	padding-top: 15px;
	margin-bottom: 30px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5; /* number of lines to show */
}
.preview-full {
	padding-top: 15px;
}

.expanded {
	display: none;

}

.abstract-body .abstract-metadata h5 {
	display: inline;
	/*padding: 20px;*/

}


.fixed-height {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	padding-bottom: 10px;
  	align-content: center;

}
.pub-year {
	border: 1px solid #ffd37c;
	background-color: #ffd37c;
	align-content: center;
	border-radius: 4px;
	text-align: center;
}

.journal-title {
	border: 1px solid #A7EAFF;
	background-color: #A7EAFF;
	align-content: center;
	border-radius: 4px;
	text-align: center;
	padding: 5px;
	display: inline-block;
}


.expand_btn {
	position: absolute;
	text-align: center;
	margin-top: -5px;
	width: 95%;
}

.pivot-button {

  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.input-field .search-box {
	width: 100%;
	padding: .375rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	border-radius: 0;
	border: 1px solid grey;
}

.body .glance {
	padding-bottom: 40px;
}


.glance > .list-group > .glance_topic {
	padding-top: 30px;
	padding-bottom: 30px;
}


hr {
	border: 1px solid grey;

	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.body > .vanco-calc {
	padding-bottom: 75px;
	padding-top: 25px;
}

.body > .vanco-calc > .card-title {
	padding-left: 20px !important;
}

i.icon-blue {
    color: blue !important;
}