.abstract .abstract-body .expanded {
	display: none;

}

.title_header {
	text-align: center;
}

.query-display {
	padding-bottom: 30px;
}

.search-field {
	width: 400px !important;
}

.body {
	padding-top: 25px;
	width: 800px;
	margin: auto;
}

.search-bar {
	text-align: center;

}

.abstract-body {
	border-radius: 5px;
	margin-bottom: 40px;

}

.preview-ellipsis h4{
	padding-top: 15px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5; /* number of lines to show */
}
.preview-full h4 {
	padding-top: 15px;
}

.abstract-body .abstract-header h5 {
	display: inline;
	padding-right: 20px;

}


.expand-btn {
	text-align: center;
	margin-top: 20px;
}

.fixed-height {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
  	display: flex;
  	padding-bottom: 10px;
}

hr {
	border-width: 2px;
}